rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function eAutorizado() {
      return request.auth != null;
    }

    match /autorizados/{email} {
      allow read: if request.auth != null;
      allow write: if false;
    }

    match /modulos/{moduloId} {
      allow read: if eAutorizado();
      allow write: if false;
    }

    match /aulas/{aulaId} {
      allow read: if eAutorizado();
      allow write: if false;
    }

    match /progresso/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
